body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(45deg, coral, cyan);
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
  grid-template-rows: [row] auto [row] auto [row];
  color: #444;
  margin: 4em 2em;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
}
.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}
.c {
  grid-column: col;
  grid-row: row 2;
}
.d {
  grid-column: col 2 / span 3;
  grid-row: row 2;
}

.e {
  grid-column: col / span 4;
  grid-row: row 3;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.wrapper-2 {
  width: 431px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column;
}

.wrapper-3 {
  width: 50%;
  margin: 4em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
